@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Bold.ttf);
  font-weight: 700; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1; }

button,
input,
textarea {
  outline: none !important;
  transition: all .3s; }
  button::placeholder,
  input::placeholder,
  textarea::placeholder {
    color: #a8a8a8; }

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important; }

::-webkit-input-placeholder {
  color: #222; }

::-moz-placeholder {
  color: #222; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #222; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222; }

.transit {
  /* Safari */
  transition: all 0.4s; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

html {
  height: 100%; }

svg {
  flex-shrink: 0; }

svg,
path {
  transition: all .3s; }

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  height: 100%;
  color: #000;
  overflow-x: hidden; }
  body.fixed-body {
    overflow-y: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s; }
  a:hover {
    text-decoration: none !important;
    color: inherit; }
  a:focus {
    text-decoration: none !important; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

i {
  line-height: 100%; }

input::placeholder,
textarea::placeholder {
  color: #616161; }

input[type="date"] {
  position: relative;
  padding-right: 28px; }

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  z-index: 1; }

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #5e6162; }

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: 'Franklin Gothic', sans-serif; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px; }

.btn-red {
  background: linear-gradient(26.5deg, #C50000 16.72%, #FB5B40 95.45%);
  border-radius: 90px;
  justify-content: space-between;
  padding: 0 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 130.4%;
  color: #FFFFFF; }
  .btn-red:hover {
    opacity: 0.8; }

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px; }
.header__logo {
  display: flex;
  align-items: center; }
  .header__logo-text {
    font-size: 16px;
    line-height: 130.4%;
    color: #4F151A; }
  .header__logo-name {
    font-weight: 700;
    display: block; }
.header__avatar {
  margin-right: 22px; }
  .header__avatar img {
    width: 76px;
    height: 76px;
    border-radius: 50%; }
.header__right {
  display: flex;
  align-items: center; }
.header__advent {
  display: flex;
  align-items: center;
  margin-right: 45px; }
  .header__advent-icon {
    margin-right: 19px;
    flex-shrink: 0; }
    .header__advent-icon svg {
      width: 100%; }
  .header__advent-text {
    font-size: 16px;
    line-height: 130.4%;
    color: #4F151A; }
  .header__advent-date {
    color: #DB251A;
    display: block; }
.header__btn {
  width: 247px;
  height: 59px; }

.main {
  background-color: #F2EAE8;
  background-image: url(../img/sky1.png), url(../img/sky2.png), url(../img/sky3.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 40px;
  overflow: hidden; }
  .main__inner {
    display: flex;
    align-items: center; }
  .main__left {
    margin-left: -60px;
    position: relative;
    margin-right: 115px; }
    .main__left:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 527px;
      height: 526px;
      background: #FAEFEF;
      border-radius: 50%;
      bottom: 58px;
      right: -33px;
      pointer-events: none; }
  .main__right {
    max-width: 660px;
    flex-grow: 1;
    color: #4F151A; }
  .main__dance {
    position: relative;
    z-index: 3;
    display: block; }
  .main__fabric {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: -100px; }
  .main__school {
    font-weight: bold;
    font-size: 20px;
    line-height: 130.4%;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: #4F151A;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 520px;
    margin: 0 auto; }
    .main__school:before, .main__school:after {
      content: '';
      position: absolute;
      z-index: 1;
      height: 2px;
      width: 111px;
      background: #DB251A;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .main__school:after {
      left: unset;
      right: 0; }
    .main__school span {
      position: relative;
      z-index: 2; }
  .main__name {
    font-size: 64px;
    line-height: 130.4%;
    text-align: center;
    margin-top: 6px;
    font-family: "Playfair Display", sans-serif; }
  .main__subtitle {
    font-size: 32px;
    line-height: 130.4%;
    margin-top: 22px;
    text-align: center; }
  .main__date {
    background: linear-gradient(90deg, rgba(244, 224, 224, 0) 0%, #F7D5D5 50.68%, rgba(244, 224, 224, 0) 100%);
    margin: 15px auto 0;
    height: 77px;
    display: flex;
    align-items: center;
    padding: 0 73px;
    font-size: 60px;
    color: #DB251A;
    max-width: 470px; }
  .main__desc {
    font-size: 20px;
    line-height: 130.4%;
    text-align: center;
    margin-top: 22px; }
    .main__desc strong {
      font-weight: bold; }
  .main__btn {
    width: 328px;
    height: 78px;
    margin: 37px auto 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 130.4%;
    box-shadow: 0px 7px 21px #F04732; }

.form {
  padding: 85px 0;
  color: #4F151A;
  background-image: url(../img/girl.jpg);
  background-size: cover;
  background-position: right top; }
  .form__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: normal;
    font-size: 46px;
    line-height: 130.4%;
    text-align: center;
    padding-bottom: 22px;
    position: relative; }
    .form__title:before {
      content: '';
      position: absolute;
      z-index: 1;
      background: #DB251A;
      width: 111px;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .form__grid {
    max-width: 653px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 30px; }
  .form__group {
    position: relative; }
    .form__group:first-child {
      grid-column: 1/3; }
    .form__group svg {
      position: absolute;
      left: 29px;
      top: 50%;
      transform: translateY(-50%); }
    .form__group input {
      background: #FFFFFF;
      border: 1px solid #DECCC8;
      border-radius: 90px;
      width: 100%;
      height: 70px;
      padding-left: 70px;
      padding-right: 15px;
      font-size: 18px;
      line-height: 130.4%;
      color: #4F151A; }
      .form__group input::placeholder {
        color: #BC9FA2; }
  .form__hint {
    font-size: 14px;
    line-height: 154.9%;
    max-width: 653px;
    margin: 27px auto 0;
    text-align: center; }
  .form__btn {
    width: 328px;
    height: 78px;
    margin: 27px auto 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 130.4%;
    box-shadow: 0px 7px 21px #F04732; }

.footer {
  color: #4F151A;
  padding: 43px 0;
  text-align: center; }
  .footer__link {
    font-size: 15px;
    line-height: 130.4%;
    text-decoration-line: underline;
    display: block;
    margin-bottom: 5px; }
  .footer__info {
    margin-top: 30px; }
    .footer__info-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: 130.4%;
      margin-top: 10px; }
      .footer__info-bottom span {
        margin: 0 10px; }
  .footer__ip {
    font-size: 15px;
    line-height: 130.4%; }

@media screen and (max-width: 1300px) {
  .container {
    max-width: 975px; }

  .main {
    background-size: auto 100%; }
    .main__left:before {
      width: 450px;
      height: 450px; }
    .main__dance {
      width: 400px; }
    .main__fabric {
      width: 600px; }
    .main__name {
      font-size: 50px; } }
@media screen and (max-width: 992px) {
  .header {
    background: #F2EAE8; }
    .header__inner {
      height: unset;
      padding: 20px 0; }
    .header__right {
      display: none; }
    .header__logo {
      width: 100%;
      justify-content: center; }
      .header__logo-text {
        display: none; }
    .header__avatar {
      margin-right: 0; }

  .main {
    padding-top: 0; }
    .main__inner {
      flex-wrap: wrap; }
    .main__left {
      margin: 20px auto 0; }
      .main__left:before {
        width: 380px;
        height: 380px; }
    .main__right {
      order: -1;
      width: 100%;
      max-width: unset; }
    .main__dance {
      width: 350px; }
    .main__fabric {
      width: 530px; }
    .main__school {
      font-size: 16px; }
      .main__school:after, .main__school:before {
        width: calc(50% - 115px); }
    .main__name {
      font-size: 34px;
      margin-top: 11px; }
    .main__subtitle {
      font-size: 24px;
      margin-top: 16px; }
    .main__date {
      height: 63px;
      padding: 0 14px;
      max-width: 260px;
      font-size: 44px;
      margin-top: 13px; }
    .main__desc {
      font-size: 16px;
      margin-top: 27px; }
    .main__btn {
      width: 286px;
      height: 78px;
      margin-top: 25px; }

  .form {
    padding: 50px 0 70px; }
    .form__title {
      font-size: 28px;
      padding-bottom: 17px; }
    .form__grid {
      margin-top: 33px;
      row-gap: 14px; }
    .form__hint {
      font-size: 13px;
      margin-top: 22px; }
    .form__btn {
      margin-top: 27px;
      width: 286px;
      height: 78px; }

  .footer {
    padding: 30px 0; } }
@media screen and (max-width: 768px) {
  .main__left:before {
    width: 300px;
    height: 300px;
    bottom: 28px;
    right: 50%;
    transform: translateX(50%); }
  .main__dance {
    width: 280px; }
  .main__fabric {
    width: 400px;
    right: -55px; }
  .main__desc {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto; }
    .main__desc br {
      display: none; }

  .form__grid {
    grid-template-columns: 1fr; }
  .form__group:nth-child(1) {
    grid-column: 1/2; }

  .footer__info-bottom {
    display: block; }
    .footer__info-bottom span {
      display: block;
      margin: 0 0 10px; } }
html {
  scroll-behavior: smooth; }

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }

@media (min-width: 1240px) {
  .container {
    width: 1230px; } }

/*# sourceMappingURL=style.css.map */
